APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:+7ET+TIH5UkihLoYhRnykLF+c80MZpErGuNbALWrcqg=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=boostsales
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.elasticemail.com
MAIL_PORT=2525
MAIL_USERNAME=hi@hamsa.vn
MAIL_PASSWORD=b3fa7a05-e5e7-445c-b8b0-54a50d723e52
MAIL_ENCRYPTION=null

RECEIVER_MAIL=contact@happypoints.io

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

BOOST_SALES_DOMAIN =  https://f7f8b936.ngrok.io/
SHOPIFY_API_DOMAIN =  https://f7f8b936.ngrok.io/authenticate
SHOPIFY_WEBHOOK_1_UNINSTALL =  https://f7f8b936.ngrok.io/api/uninstall
SHOPIFY_WEBHOOK_1_ORDER =  https://f7f8b936.ngrok.io/api/add/order
SHOPIFY_SCRIPTTAG_1_SRC =  https://f7f8b936.ngrok.io/public/js/boostsales.js

MODE = false      //true: live mode, false: test mode
SHOPIFY_BILLING_ENABLED = true 
SHOPIFY_BILLING_FREEMIUM_ENABLED = false
SHOPIFY_SCRIPTTAG_2_SRC = https://49d02c3d.ngrok.io/public/css/boostsales.css

DEMO_CUSTOMER_LAST_NAME = johnny
DEMO_CUSTOMER_FIRST_NAME = johnny
DEMO_CUSTOMER_ADDRESS = London
DEMO_CUSTOMER_COUNTRY = England